:root {
  --primaryBg: #2c2b2b;
  --primaryText: white;
  --primaryLinks: #ffc107;
  --secondaryBg: #272822;
  --secondaryText: #beb9bb;
  --secondaryLinks: #ffc107;
  --shadow: black;
  --cardBg: #373737;
  --cardText: white;
  --cardLink: #ffc107;
}
