<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="m-auto {{ if .Site.Params.theme.mainTheme }} {{ .Site.Params.theme.mainTheme }} {{ end }}">
  {{- partial "head.html" . -}}
  <body class="h-screen p-2 m-auto max-w-4xl flex flex-col">
    {{ if not .Site.Params.theme.singlePage }}
    {{ partial "header" . }}
    {{ end }}
    <main class="grow">
      {{- block "main" . }}
      {{- end }}
    </main>
    {{ if and (not .IsHome) (not .Site.Params.theme.singlepage) }}
    {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
