<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" style="max-width: 900px; margin: auto;" class="dark">
  {{- partial "head.html" . -}}
  <body class="container p-2">
    <main style="min-height: calc(100vh - 60px)">
      {{ if and (not .Site.Params.theme.singlepage) (not .IsHome) }}
      {{ partial "header" . }}
      {{ end }}
      {{- block "main" . }}
      {{- end }}
    </main>
    {{ if and (not .IsHome) (not .Site.Params.theme.singlepage) }}
    {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
