{{ define "main" }}
<h1 class="standard top-h1 mb-3">
  {{- .Title -}}
</h1>
<div class="standard grid-container">
  {{ range (.Paginator 10).Pages }}
  <div class="index-box p-3 shadow rounded mb-4">
    <h3>
      <a href="{{ .Permalink | relURL }}">
        {{- .Title -}}
      </a>
    </h3>
    <p>Reading Time: {{ .ReadingTime }} minutes</p>
    {{- partial "metadata" . -}}
  </div>
  {{ end }}
</div>
<div class="mt-4 d-flex justify-content-center">
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
