{{ define "main" }}
<div class="prose dark:prose-invert max-w-none">
  <h1 class="standard {{ if eq .Kind `term` }}font-italic{{ end }}">
    {{ if eq .Kind "term" }}#{{ end }}{{- .Title -}}
  </h1>
  {{ range $key, $val := (.Paginator 10).Pages }}
  <div class="">
    <div
      class="rounded-sm hover:bg-gray-400 dark:hover:bg-darker flex flex-row items-center justify-start accordion mt-0 mb-0 p-2 {{ if eq $key 0 }}active{{ end }}"
    >
      <i
        onclick="expandAccordion(this)"
        class="cursor-pointer chevron p-2 mr-4 fas fa-chevron-right rounded-sm text-blue-500 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-700"
      ></i>
      <a href="{{ .Permalink | relURL }}"
        ><h2 class="accordion m-0">{{- .Title -}}</h2></a
      >
    </div>
    <div
      id="panel-item-{{ $key }}"
      class="panel metadata-panel overflow-hidden bg-gray-200 dark:bg-dark"
    >
      <div class="metadata p-2">{{- partial "metadata" . -}}</div>
    </div>
  </div>
  {{ end }}
</div>
<script src="{{ `js/accordion.js` | relURL }}"></script>
<div class="my-6 flex justify-center pagination-links">
  {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
</div>
{{ end }}
