@import "tailwindcss";

@theme {
  --color-darkest: var(--color-stone-900);
  --color-darker: var(--color-stone-800);
  --color-dark: var(--color-stone-700);
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@source "../../content/**/*.md";
@source "../../layouts/**/*.html";
@source "../../themes/**/layouts/**/*.html";

@utility prose {
  --tw-prose-bullets: var(--color-stone-700);
  --tw-prose-counters: var(--color-stone-700);
  --tw-prose-links: var(--color-blue-500);
  --tw-prose-quote-borders: var(--color-stone-400);

  --tw-prose-invert-bullets: var(--color-stone-200);
  --tw-prose-invert-counters: var(--color-stone-200);
  --tw-prose-invert-links: var(--color-yellow-300);
  --tw-prose-invert-quote-borders: var(--color-stone-400);

  &: is(.prose-invert, [data-theme= "dark"] &) {
    --tw-prose-bullets: var(--tw-prose-invert-bullets);
    --tw-prose-counters: var(--tw-prose-invert-counters);
    --tw-prose-links: var(--tw-prose-invert-links);
    --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  }
}

@layer base {
  html {
    touch-action: manipulation;
    scroll-behavior: smooth;
  }

  body {
    @apply text-base bg-stone-50 text-stone-900 dark:text-stone-50 dark:bg-darkest;
  }

  h1 {
    @apply text-4xl mb-5 mt-1 font-bold;
  }

  h2 {
    @apply text-3xl mb-4 mt-1 font-bold;
  }

  h3 {
    @apply text-2xl mb-2;
  }

  h4 {
    @apply text-xl mb-2;
  }

  a {
    @apply text-blue-500 hover:text-blue-700 hover:underline dark:text-yellow-300 dark:hover:text-yellow-500 transition-colors;
  }

  mark {
    @apply bg-yellow-300 text-gray-800 dark:bg-yellow-500 dark:text-gray-900;
  }

  .prose {
    @apply max-w-none;

    a {
      @apply no-underline! hover:underline!;
    }

    code::before,
    code::after {
      content: none !important;
    }

    pre {
      background-color: #272822 !important;
      @apply text-gray-200!;
    }

    blockquote {
      @apply p-1 m-0 bg-gray-100 dark:bg-dark rounded-sm;
      p {
        @apply m-0! p-1;
      }
    }
  }
}

@layer components {
  ul.pagination {
    @apply flex flex-row justify-center list-none;
    li {
      @apply border border-gray-500 dark:border-yellow-300 flex justify-center items-center;
    }
    .page-link {
      @apply px-2 sm:px-4 py-1 hover:text-gray-200 dark:hover:text-gray-800 hover:bg-blue-500 dark:hover:bg-yellow-300;
    }
    .active {
      @apply bg-blue-500 pointer-events-none dark:bg-yellow-300;
      .page-link {
        @apply text-gray-200 dark:text-gray-800;
      }
    }
  }

  .categories {
    @apply inline-block p-1 mr-2 mb-2 text-sm rounded-sm border border-green-600 text-green-800 bg-green-100 hover:bg-green-200 dark:border-green-100 hover:shadow-sm;
  }
  .tags {
    @apply inline-block p-1 mr-2 mb-2 text-sm rounded-sm border border-gray-600 text-gray-800 bg-gray-200 hover:bg-gray-300 dark:border-gray-100 hover:shadow-sm;
  }

  .nav {
    @apply text-lg text-blue-500 dark:text-gray-300 font-semibold;
  }
  .nav-menu-item {
    @apply hover:no-underline p-2 rounded-sm hover:bg-gray-200 dark:hover:bg-gray-800;
  }

  .active {
    @apply overflow-visible;
  }

  h2.accordion {
    @apply font-normal;
  }
  .accordion {
    @apply text-blue-600 dark:text-yellow-500 my-1;
    > p {
      @apply my-0 p-2 hover:bg-gray-300 rounded-sm dark:hover:bg-darker;
    }
  }

  .panel {
    max-height: 0;
    transition: 0.3s ease-out;
    overflow: hidden;
  }
  .chevron {
    transition: 300ms linear rotate;
  }
  .active > .chevron {
    transform: rotate(90deg);
  }

  .pagefind-ui__search-input {
    @apply w-full p-2 rounded border border-gray-500 text-black dark:text-white dark:bg-[#322d2d];
  }
  .pagefind-ui__search-clear {
    display: none;
  }
}
/*.dark body {
    background-color: red !important;
}*/
