<div class="ml-auto mr-auto row row-eq-height mt-4">
  <div class="col-md-5 text-center rounded border-light p-2  mb-4">
    <div class="float-left" style="width: 45px; height: 45px;">
      <i
        class="fas fa-toggle-off zoomlink text-dark"
        id="toggle"
        onclick="toggleTheme()"
      ></i>
    </div>
    {{ partial "profile_photo.html" . }}
    {{ partial "social.html" . }}
    {{ partial "footer.html" . }}
  </div>
  <div class="col-md-7 border rounded p-2 mb-4">
    {{ if .Site.Params.experiences }}{{ partial "experience.html" . }}{{end}}
    {{ if .Site.Params.education }}{{ partial "education.html" . }}{{end}}
    {{ if .Site.Params.publication }}{{ partial "publication.html" . }}{{end}}
    {{ if .Site.Params.projects }}{{ partial "project.html" . }}{{end}}
    {{ if .Site.Params.skills }}{{ partial "skill.html" . }}{{end}}
    {{ if .Site.Params.hobbies }}{{ partial "hobby.html" . }}{{end}}
    <script src="{{ .Site.BaseURL }}/js/accordion.js"></script>
  </div>
</div>
