<p class="mt-0 mb-0">{{ .Date.Format "January 2, 2006" }}</p>
<p class="mt-1 mb-0">Reading Time: {{ .ReadingTime }} minutes</p>
{{ $params := .Params }} {{ range $name, $value := .Site.Taxonomies }}
{{ if index $params $name }}
<p class="metadata-value mt-1 mb-0 taxa taxa-container-div list-{{- $name -}}">
  {{ $name | humanize }}: {{ range index $params $name }}
  <a
    class="metadata-tags"
    href="{{ $name | relURL }}/{{ . | urlize }}"
    title="{{ $name }}"
  >
    {{- . -}}
  </a>
  {{ end }}
</p>
{{ end }}
{{ end }}
