{{ if .Site.Params.theme.allowToggle }}
<div class="toggleSwitchContainer" style="width: 45px; height: 45px;">
  <i
    class="fas fa-toggle-on zoomlink"
    id="toggle"
    title="Toggle Theme"
    onclick="toggleTheme(this)"
  ></i>
</div>

<script>
  const mainTheme =
    "{{ print (`/css/aafu_` | relURL) .Site.Params.theme.mainTheme `.css` }}";
  const altTheme =
    "{{ print (`/css/aafu_` | relURL) .Site.Params.theme.altTheme `.css` }}";
  const currentCSS = document.querySelector("#color-CSS");
  function toggleTheme(elem) {
    //console.log("." + mainTheme);
    //console.log(altTheme);
    elem.classList.toggle("fa-toggle-off");
    elem.classList.toggle("fa-toggle-on");
    if (currentCSS.href.includes(mainTheme)) {
      currentCSS.setAttribute("href", "." + altTheme);
    } else {
      currentCSS.setAttribute("href", "." + mainTheme);
    }
  }

  function changeThemeColor() {
    themeColor.content = getComputedStyle(document.body)["background-color"];
  }
  const thisBody = document.body;
  thisBody.addEventListener("webkitTransitionEnd", changeThemeColor);
  thisBody.addEventListener("transitionend", changeThemeColor);
</script>
{{ end }}
