{{ define "main" }}
<div class="ml-auto mr-auto row row-eq-height mt-3 p-2 rounded">
    <div class="col-md-5 text-center p-2">
      <div class="shadowsDark rounded bg-white">
      <div class="toggleSwitchContainer" style="width: 45px; height: 45px;">
        <i
          class="middleCenter fas fa-toggle-off zoomlink text-dark"
          id="toggle"
          title="Toggle Theme"
          onclick="toggleTheme()"
        ></i>
      </div>
      {{ partial "profilePhoto" . }}
      <div class="p-2">
      {{ partial "social" . }}
      {{ partial "footer" . }}
    </div>
    </div>
  </div>
    <div class="col-md-7 bg-light pt-2">
      {{ range .Site.Params.showInAccordion }}
      <h2 class="accordion w-100 text-primary {{ if .expand }} active {{ end }}">
        {{ $current := index $.Site.Params .item }}
        <i class="{{ $current.icon }}"></i>
        {{ $current.title }}
      </h2>
      <div class="panel overflow-hidden">
        {{ partial .item $ }}
      </div>
      {{ end }}
      <script src="{{ `js/accordion.js` | relURL }}"></script>
      <script>
        if ({{ .Site.Params.useDarkTheme }}) {
          toggleTheme();
        }
      </script>
    </div>
  </div>
{{ end }}  
