{{ $delimiter := .Site.Data.publications.delimiter | default ". " }}

{{ if .Site.Data.publications.types }}
{{ range .Site.Data.publications.types }}
{{ $type := . }}
<h4 style="text-decoration: underline;">{{ $type }}</h4>
{{- range $.Site.Data.publications.list -}}
{{ if eq $type .type }}
{{- $this_publication := . -}}
<p class="indent-8 mb-2">
  {{- $n_format := len $.Site.Data.publications.format -}}
  {{- range $ind, $val := $.Site.Data.publications.format -}}
  {{- index $this_publication $val | markdownify -}}
  {{- if (ne (add $ind 1) $n_format) -}}
  {{ $delimiter }}
  {{ end -}}
  {{- end -}}
</p>
{{ end }}
{{- end -}}
{{ end }}

{{ else }}

{{- range $.Site.Data.publications.list -}}
{{- $this_publication := . -}}
<p class="indent-8 mb-2">
  {{- $n_format := len $.Site.Data.publications.format -}}
  {{- range $ind, $val := $.Site.Data.publications.format -}}
  {{- index $this_publication $val | markdownify -}}
  {{- if (ne (add $ind 1) $n_format) -}}
  {{ $delimiter }}
  {{ end -}}
  {{- end -}}
</p>
{{ end }}
{{ end }}
