<script>
  let skillPanel = document.querySelector("#skill-panel")
    .previousElementSibling;
  skillPanel.addEventListener("click", function() {
    let skillBars = document.querySelectorAll("#skill-percent");
    skillBars.forEach(elem => {
      elem.style.width = elem.classList[0];
    });
  });
</script>
{{ range.Site.Params.skill.list }}
<code>{{ .skill }}</code>
<div class="w-100 skillbar mt-1 mb-3">
  <div id="skill-percent" class="{{ .skillrating }}%" style="width: 0;"></div>
</div>
{{ end }}
